.container {
  position: relative;
  margin-top: 1rem;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 200px;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #cccc;
  border-radius: 1rem;
  font-size: 1.4rem;
  z-index: 20;

  &:hover {
    cursor: pointer;
  }
}

.title {
  margin-right: 2rem;
}

.dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  max-height: 15rem;
  width: 100%;
  padding-top: 2rem;
  opacity: 0;
  overflow: scroll;
  --webkit-overflow-scrolling: touch;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #cccc;
  border-radius: 0px 0px 1rem 1rem;
  transform: translateY(80%);
  transition: opacity 0.3s ease;

  & li {
    padding: 5px 1rem;
    font-size: 1.4rem;

    &:hover {
      background-color: #c5eafd;
      cursor: pointer;
    }
  }
}

.icon {
  font-size: 1.4rem;
  transition: transform 0.25s ease;
}

.rotate {
  transform: rotate(90deg);
}

.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(calc(100% - 2rem));
}

.selected {
  background-color: #c5eafd;
}
