@import './shared/shared.scss';

.profileGrid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: calc(100vh - 7rem);
  background-color: $light-grey;

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    height: calc(100% - 7rem);
  }
}

.profileSidebar {
  border-right: 1px solid #f5f5f5;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  & ul {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: auto;
    list-style: none;

    @include respond(tab-port) {
      margin-top: 0;
      display: flex;
      margin-bottom: 0;
    }

    & li {
      height: 4.5rem;
      width: 100%;

      @include respond(tab-port) {
        margin-top: 0;
      }
    }
  }
}

.btn {
  width: 90%;
  margin-bottom: 2rem;

  a {
    width: 90%;
    margin-top: 1rem;

    button {
      width: 100%;
      padding: 8px 2rem;
      background-color: #0991d3;
      font-size: 1.6rem;
      border: none;
      border-radius: 5px;
      color: #fff;
      transition: all 0.1s ease;

      &:hover {
        cursor: pointer;
        background-color: lighten(#0991d3, 2%);
      }
    }
  }
}

.route3ListContainer {
  height: 100%;
  overflow: scroll;
}

.profileContent {
  border: 1px solid $light-grey;
  padding: 3rem;
  align-items: center;
  overflow: scroll;
  --webkit-overflow-scrolling: touch;
}

.stats {
  display: grid;
  grid-template-areas:
    'stats stats stats stats chart chart chart chart chart chart chart chart'
    'monthly monthly monthly monthly monthly monthly monthly monthly monthly monthly monthly monthly';
  grid-gap: 3rem;
  grid-template-rows: 20rem min-content;

  @include respond(tab-port) {
    grid-template-areas:
      'stats stats stats stats '
      'chart chart chart chart'
      'monthly monthly monthly monthly';
  }
}

.statsContainer {
  display: grid;
  grid-area: stats;
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 1px 2rem rgba(0, 0, 0, 0.04);
}

.weeklyContainer {
  display: grid;
  grid-area: chart;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 1px 2rem rgba(0, 0, 0, 0.04);

  & > div {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include respond(tab-land) {
      flex-direction: column-reverse;
    }
  }
}

.chartContainer {
  display: grid;
  grid-area: monthly;
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 1px 2rem rgba(0, 0, 0, 0.04);
}

.inputContainer {
  position: relative;
  margin: 0px 7px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color: dodgerblue;
    width: 100%;
    height: 7px;
  }
}

.input {
  border: none;
  background-color: transparent;
  font-size: 3.6rem;
  transition: border-bottom 0.2s ease;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.userProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #fff;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 1px 20px rgba(0, 0, 0, 0.04);

  &Circle {
    height: 7rem;
    width: 7rem;
    color: #fff;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  &Table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1rem;
  }

  &Col {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 1rem;
    list-style: none;
    text-align: center;
    min-width: max-content;

    & div:nth-last-of-type(2) {
      font-size: 1.5rem;
    }

    & div:nth-last-of-type(1) {
      font-size: 2.4rem;
    }

    &:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 30%;
        height: 2rem;
        width: 1px;
        background-color: #ccc;
      }
    }
  }
}

.chart {
  margin-top: 5rem;
}

.runLogger {
  font-size: 3.6rem;
  font-weight: 900;
}
