.donutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donutchartTrack {
  fill: transparent;
  stroke: #dae2e5;
  stroke-width: 26;
}
.donutchartIndicator {
  fill: transparent;
  stroke: #009688;
  stroke-width: 26;
  stroke-dasharray: 0 10000;
  transition: stroke-dasharray 0.3s ease-out 0.4s;
}

.donutchart {
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}

.donutchartText {
  fill: #333;
}

.donutchartTextGoal {
  font-size: 22px;
  transition: fill 0.2s linear;

  &:hover {
    fill: dodgerblue;
    cursor: pointer;
  }
}

.donutchartTextVal {
  font-size: 46px;
}
.donutchartTextPercent {
  font-size: 14px;
}
.donutchartTextLabel {
  margin-top: 20px;
  font-size: 14px;
}

.goalInput {
  // padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 70px;
  font-size: 46px;

  &:focus {
    outline: none;
  }
}

.setGoal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:hover {
    cursor: pointer;
  }

  &Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #009688;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 1px 20px rgba(0, 0, 0, 0.04);
  }

  &Inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    div:first-of-type {
      font-size: 20px;
    }

    svg {
      font-size: 24px;
    }
  }

  &Input {
    border: none;
    position: relative;
    font-size: 36px;

    &:focus {
      outline: none;
    }
  }
}
