.header {
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  a {
    padding-bottom: 4px;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid black;
    }
  }

  button {
    padding-bottom: 4px;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
    transition: all 0.2s ease;

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid black;
    }
  }
}

.userIcon {
  position: relative;
  font-size: 20px;

  &::before {
    content: '';
    background-color: dodgerblue;
    position: absolute;
    top: -1px;
    right: -3px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    animation: scale-dot 1s infinite;
  }

  &::after {
    content: '';
    background-color: dodgerblue;
    position: absolute;
    top: -1px;
    right: -3px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }
}

.menuButton {
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  height: 100%;

  &:hover .bar2 {
    width: 25px;
  }

  .bar1,
  .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
  }

  .bar2 {
    width: 15px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
  }
}

.headerRight {
  & + button,
  & + a {
    margin-right: 10px;
  }
}

.formChange {
  display: flex;
}

@keyframes scale-dot {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(3);
  }
}
