html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}

.mapboxgl-ctrl-top-right {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right: auto;
  top: 10.3rem;
}

@media only screen and (max-width: 800px) {
  .mapboxgl-ctrl-top-right {
    top: 19.2rem;
  }
}
