.container {
  position: absolute;
  bottom: 5%;
  font-size: 18px;
  text-align: center;
  left: 30%;
  width: 500px;
  padding: 20px;
  background-color: green;
  color: #fff;
  border-radius: 5px;
  z-index: 20;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 1px 20px rgba(0, 0, 0, 0.04);
}
