.monthList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.month {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 3.2rem;
  color: #aaa;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: 90%;
  //   height: 8px;
  //   right: 0;
  //   top: calc(50% - 5px);
  //   background-color: #aaa;
  // }

  .text {
    position: relative;
    z-index: 10;
    background-color: #fcfcfc;
    padding-right: 1rem;
  }
}

.container {
  width: 100%;
}

.runList {
  width: 100%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: #ddd;
    width: 3px;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(2.5rem, 0, 0);
  }
}

.run {
  position: relative;

  & > div {
    margin-bottom: 3rem;
    margin-left: 10rem;
    padding: 2rem 3rem;
    background-color: #fff;
    border: none;
    border-left: 3px solid coral;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 1px 2rem rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
  }

  &:hover > div {
    transform: scale(1.05);
  }

  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 50%;
    line-height: 0;
    transform: translate3d(57%, 140%, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 1px 2rem rgba(0, 0, 0, 0.04);
    z-index: 10;
  }
}
