@import './shared/shared.scss';

.setGoal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:hover {
    cursor: pointer;
  }

  &Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    border: 3px solid #009688;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 1px 2rem rgba(0, 0, 0, 0.04);
  }

  &Inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    div:first-of-type {
      font-size: 2rem;
    }

    svg {
      font-size: 2.4rem;
    }

    & > button {
      border: none;
      font-size: 1.4rem;
      color: $blue;

      &:hover {
        cursor: pointer;
        text-decoration: underline $blue;
      }
    }
  }

  &Input {
    border: none;
    position: relative;
    font-size: 3.6rem;

    &:focus {
      outline: none;
    }
  }
}
