.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.formContainer {
  border-radius: 5px;
  padding: 4rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 1px 2rem rgba(0, 0, 0, 0.04);
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  p {
    font-size: 1.4rem;
  }

  button {
    margin-left: 3px;
    font-size: 1.5rem;
    color: #0991d3;
    background: transparent;
    border: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
